/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.personalia {
    background-color: #e7e8ec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
}

.person-logo {
    border: 2px solid black;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
    width: 30%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: rgba(39, 140, 39, 0.96);
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: rgba(39, 140, 39, 0.96);
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .person-name {
        order: -1;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }
}


/*student uitwerking*/


.person {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.person-affiliation {
    text-align: center;
    font-size: x-large;
 }

.person-call-sign {
    text-align: center; 
    font-size: 50px;
}
.person-bust {
    width: 300px;
    border-radius: 50%;
    margin-top: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.rotate {
    animation: rotation 5s linear infinite;
    animation-play-state: paused;
}

.rotate:hover {
    animation-play-state: running;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.scaling-textbox {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

@media only screen and (min-width: 800px) { /* Adjust breakpoint as needed */
    
    .scaling-textbox {
        margin-top: 10%;
        width: 28%;
        bottom: 100px;
    }

    .order-desktop-0 {
        order: -1;
    }

    .person-call-sign {
        text-align: center;
        font-size: 70px;
    }
}

.workplace-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}