@{
    ViewData["Title"] = "About me";
}

<div class="page">

    <section class="scaling-textbox">
        <h2 class="border-bottom">Over mij</h2>
        <p>Ik ben Jan van den Pol, geboren 28 maart 2005 en studeer HBO-ICT aan Windesheim. Ik ben hierin in de software
            development richting aan het studeren. Ook heb ik ervaring in het besturen van robots aangezien ik een
            semester ESA (embedded systems and autoamtion) gedaan heb. Ik heb mijn propedeuse in het eerste jaar
            behaald. Naast dat volg ik buiten deze opleiding om ook nog het Honours programma van Windesheim. </p>
        <p>Daarnaast werk ik al enige tijd in de veehouderij Smidspol VOF. Als agrarisch medewerker in de veehouderij en
            developer ben ik bekwaam in het combineren van
            de landbouw en het zoeken van technische oplossingen.</p>
    </section>

    <section class="scaling-textbox">
        <h2 class="border-bottom">Skills</h2>
        <p>Java, C#, C++ (arduino), Javascript, CSS</p>

    </section>
</div>