@{
    ViewData["Title"] = "Home Page";
}

<div class="page">

    <section class="person">

        <img class="person-bust rotate" src="images/person-pasfoto.jpg">
        <h1 class="person-call-sign">Jan van den Pol</h1>
        <h2 class="person-affiliation">Windesheim - HBO-ICT</h2>
        
    </section>
    
    <aside class="scaling-textbox order-desktop-0">
        <h2 class="border-bottom">Werkervaring</h2>
        <section class="profile-content__element">
            <h3>Smidspol VOF | 2022 - n.v.t.</h3>
        </section>
    </aside>

    <aside class="scaling-textbox">
        <h2 class="border-bottom">Opleidingen</h2>
        <section class="profile-content__element">
            <h3>HAVO | Ichthus college | 2017-2023</h3>
            <h3>HBO-ICT | Windesheim | 2023 - n.v.t.</h3>
            <h3>Honours | Windesheim | 2024 - 2025</h3>
        </section>
    </aside>
    
</div>