@{
    ViewData["Title"] = "Home Page";
}

<div class="page">

    <section class="person">

        <img class="person-bust" src="images/person-pasfoto.png">
        <h1 class="person-call-sign">Jan van den Pol</h1>
        <h2 class="person-affiliation">Windesheim - HBO-ICT</h2>


    </section>
    
</div>