@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto_2.png">
        <h1 class="person-name">Jan van den Pol</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als agrarisch medewerker in de veehouderij en developer ben ik bekwaam in het combineren van
                    de landbouw en het zoeken van technische oplossingen.
                <p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HVO</h4>
                    <p class="profile-content__period">jan 2017 - feb 2023</p>
                </div>
                <p class="profile-content__institute">Ichthus college, Dronten</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">ICT</h4>
                    <p class="profile-content__period">nov 2023 - N.V.T.</p>
                </div>
                <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Agrarisch medewerker</h4>
                    <p class="profile-content__period">jan 2020 - N.V.T.</p>
                </div>
                <p class="profile-content__institute">Smidspol VOF, Dronten</p>
            </div>
        </section>

    </section>
</div>
