@{
    ViewData["Title"] = "Contactpagina";
}

<div class="container">

    <h1 id="content-gpdr-consent-status"></h1>

    <div class="content-gdpr-not-chosen hide">
        <p>Deze content wordt alleen getoond als gdrp consent niet is gekozen.</p>
    </div>

    <div class="content-gdpr-accept hide">
        <p>Deze content wordt alleen getoond als gdrp is geaccepteerd.</p>
    </div>

    <div class="content-gdpr-reject hide">
        <p>Deze content wordt alleen getoond als gdrp is verworpen.</p>
    </div>

</div>
